/* Global Colors */

:root {
  --gunmetal: #2c363fff;
  --cerulean-crayola: #00a7e1ff;
  --blush: #e75a7cff;
  --ivory: #f2f5eaff;
  --toastify-color-dark: #2c363fff;
  --toastify-toast-background: #2c363fff;
  --toastify-color-progress-dark: #e75a7cff;
}

/* Override antd global styles */

ul {
  margin-bottom: 0px;
}

input[type="password"] {
  -webkit-appearance: auto;
}

/* Global Styles */

* {
  margin: 0;
  padding: 0 10%;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #293438; /* #3B414A */
  color: var(--ivory);
}

main {
  flex-grow: 1;
  width: 80%;
  margin: 2rem auto;
}

main > section > h2 {
  margin-bottom: 2rem;
}

main h1 {
  padding: 2rem 0;
}

header {
  height: 80px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: var(--cerulean-crayola);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.register-error {
  margin-top: 1em;
  color: var(--ivory);
}
